# Clerk configuration
NEXT_PUBLIC_CLERK_FRONTEND_API=your-clerk-frontend-api
CLERK_API_KEY=your-clerk-api-key
CLERK_SECRET_KEY=your-clerk-secret-key

# MongoDB configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/fieldforce?retryWrites=true&w=majority
